<div class="row">
  
    <div class="col-md-2">
		<div class="center">
			<%= image_tag avatar_url(@user), class: "avatar-large" %>
		</div>
	</div>

  <div class="col-md-5 text-center">
    <h2>My Profile </h2><br><br>

      <form class="form-horizontal">
  		<div class="form-group">
    		<label for="inputName5" class="col-sm-3 control-label">Name : </label>
    			<div align="left" class="col-sm-9">
    				<%= @user.fullname || "" if @user.fullname %>
    			</div>
  		</div>
  
  		<div align="left" class="form-group">
  		<label for="inputName5" class="col-sm-3 control-label">Gender : </label>
          <div align="left" class="col-sm-9">
            <%= @user.gender || "" if @user.gender %>
          </div>
  		</div>
		  </p>

	    <div align="left" class="form-group">
	      <label for="birthday" class="col-xs-3 control-label">Birthday : </label>
	      <div class="col-xs-9">
	          <div class="form-inline">
	          	<%= @user.birthday || "" if @user.birthday %>
    	      </div>
	      </div>
	    </div>

      <div align="left" class="form-group">
        <label for="age" class="col-xs-3 control-label">Age : </label>
        <div class="col-xs-9">
            <div class="form-inline">
                <%= Date.today.year - @user.birthday.year || "" if @user.birthday %>
            </div>
        </div>
      </div>

	    <div align="left" class="form-group">
	      <label for="inputCountry5" class="col-sm-3 control-label">Country : </label>
    	    <div class="col-sm-9">
    	    	<%= @user.home_country || "" if @user.home_country %>
    	    </div>
	    </div>

	    <div align="left" class="form-group">
	      <label for="inputDescription5" class="col-sm-3 control-label">About Me: </label>
    	    <div class="col-sm-9">
    	    	<%= @user.description || "" if @user.description %> 
	      	</div>
	    </div>

      <br>


	</form>

  <td><%= link_to 'Back', root_path %></td>

</div>
  <div class="col-md-4">
          <h2>My Adventures</h2>
          <table>
  <thead>
    <tr>
      <th>Destination</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adventures.each do |adventure| %>
      <tr>
        <td><%= adventure.destination %></td>
        <td><%= adventure.time %></td>
      </tr>
    <% end %>
  </tbody>
	
</div>




